<html>
<head>


</head>

<body>

<form action="/predict" method="POST">
    <h1> CAR PRICE PREDICTION </h1>

    <label> KM Driven: </label> <input type="number" name = "km_driven"> <br> <br>
    <label> MILEAGE: </label> <input type="number" name = "mileage"> <br> <br>
    <label> engine: </label> <input type="number" name = "engine"> <br> <br>
    <label> max_power: </label> <input type="number" name = "max_power"> <br> <br>
    <label> seats: </label> <input type="number" name = "seats"> <br> <br>
    <label> brand_name: </label> <input type="text" name = "brand_name"> <br> <br>
    <label> seller: </label> <input type="text" name = "seller"> <br> <br>
    <label> fuel: </label> <input type="text" name = "fuel"> <br> <br>
    <label> transmission: </label> <input type="text" name = "transmission"> <br> <br>
    



    <input type="submit" value="PREDICT"> 



</form>
{{final_price}}

</body>

</html>